<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <title>FlyHigh Home</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='apple-touch-icon.png')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontAwesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero-slider.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl-carousel.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
</head>

<body>

    <section class="banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="left-side">
                        <div class="logo">
                            <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Flight Template">
                        </div>
                        <div class="tabs-content">
                            <h4>FLY HIGH AIRLINES</h4>
                            <p style="color: #ffffff;"> Welcome to Fly High. We are here to offer
                                you the best prediction about your flight.</p>
                            <ul>
                                <span class="page-direction-button">
                                    <li><a href="aboutus"><i class="fa fa-book"></i>About Us</a></li>
                                </span>
                                <br>
                                <span class="page-direction-button">
                                    <li><a href="index"><i class="fa fa-book"></i>Flight Price</a></li>
                                </span>
                                <br>
                                <span class="page-direction-button">
                                    <li><a href="contact"><i class="fa fa-phone"></i>Contact Us Now</a></li>
                                </span>
                            </ul>
                        </div>
                    </div>
                </div>


                {% block body %} {% endblock %}


                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="primary-button">
                                    <a href="#" class="scroll-top">Back To Top</a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="social-icons">
                                    <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <p>Copyright &copy;FlyHigh
            
            
                            </div>
                        </div>
                    </div>
                </footer>
            

            </body>

            </html>            